APP_NAME=Geo-Intelligent Roadside Assistance API
APP_VERSION=0.1.0
APP_ENV=development
DEBUG=true

HOST=127.0.0.1
PORT=8000

DATABASE_URL=postgresql+psycopg2://postgres:YOUR_PASSWORD@localhost:5432/roadside_assistance

JWT_SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60